<!-- vim: set ft=html: -->
<!DOCTYPE html>
<html>
  <head>
    {{#if debug}}
    <title>Global Chat (debug)</title>
    {{else}}
    <title>Global Chat</title>
    {{/if}}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,interactive-widget=resizes-content">
    <link rel="icon" href="{{root_url}}/static/logo.webp">

    <style type="text/css">
      {{theme_css}}
    </style>
    <link rel="stylesheet" href="{{root_url}}/static/v1.css?ckey={{version}}" />
    <style id="importance_filter"></style>


    {{#if offline}}
    {{else}}
    <script type="text/javascript">

      {{#if skip_login}}
      const SKIP_LOGIN=true;
      {{else}}
      const SKIP_LOGIN=false;
      {{/if}}

      {{#if debug}}
      function reload_js() {
        location = "/debug/reload_js"
      }
      {{/if}}

      let protocol = "ws://"
      if (location.protocol.endsWith("s:")){
        protocol =  "wss://"
      }
      const WEBSOCKET_URL=protocol+location.host+"{{root_url}}/socket/v1";
      const ROOT_URL="{{root_url}}";
      const MAX_MESSAGE_LEN="{{max_message_len}}";
    </script>
    <script defer type="text/javascript" src="{{root_url}}/static/v1.js?ckey={{version}}"></script>
    {{/if}}
  </head>
  <body>
    {{> chat}}

    {{> login_popup}}
  </body>
</html>

